*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


body{
      display: grid;
      place-items: center;
      height: 100vh;
      background-color: black;

}

section{
      display: grid;
      place-items: center;
      height: 70%;
      width:80%
}

#bulb{
      border:1px solid rgb(246, 246, 3);
      width:40%;
      height: 100%;
      border-radius: 50%;
}

#onOff{
      padding: 20px;
      width: 30%;
      height: 20%;
      font-size: 20px;
      border-radius: 50px;
      cursor: pointer;
}